extends ./layouts/master.pug

block title
  title My Page - Home

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content
  section.slider#slider-main
    .slider__bg
      img.slider__bg-active(src=require('images/slider/slide_00.jpg') data-img="block-0")
      img(src=require('images/slider/slide_01.jpg') data-img="block-1")
      img(src=require('images/slider/slide_02.jpg') data-img="block-2")
      img(src=require('images/slider/slide_03.jpg') data-img="block-3")
      img(src=require('images/slider/slide_04.jpg') data-img="block-4")
    .slider__box.slider__box-transparent
      .slider__title.slider__title-active(data-title="block-0")
        p.h1
          | Ремонт#{' '}
          span и
          | #{' '}дизайн
        p.h1
          span в Москве и Московской области
      .slider__title(data-title="block-1")
        p.h1 Услуги по ремонту
        p.h1
          span в Москве и Московской области
      .slider__title(data-title="block-2")
        p.h1 Виды работ по ремонту
        p.h1
          span в Москве и Московской области
      .slider__title(data-title="block-3")
        p.h1 Дизайн интерьера
        p.h1
          span в Москве и Московской области
      .slider__title(data-title="block-4")
        p.h1 Ремонт помещений
        p.h1
          span в Москве и Московской области
      a.btn.btn__black#button-slider(href="#") Оставить заявку
        span
        span
        span
        span
        span
    .slider__body
      .slider__items
        a.slider__item.slider__item-red.slider__item-active(href="#" data-item="block-1") Услуги по ремонту
          .slider__item-body
            p.slider__item-title Услуги по ремонту
            p.slider__item-descr С другой стороны реализация намеченных плановых заданий требуют от нас анализа.
            +arrow-right
        a.slider__item.slider__item-green(href="#" data-item="block-2") Виды работ
          .slider__item-body
            p.slider__item-title Виды работ
            p.slider__item-descr С другой стороны реализация намеченных плановых заданий требуют от нас анализа.
            +arrow-right
        a.slider__item.slider__item-blue(href="#" data-item="block-3") Дизайн интерьера
          .slider__item-body
            p.slider__item-title Дизайн интерьера
            p.slider__item-descr С другой стороны реализация намеченных плановых заданий требуют от нас анализа.
            +arrow-right
        a.slider__item.slider__item-purple(href="#" data-item="block-4") Ремонт помещений
          .slider__item-body
            p.slider__item-title Ремонт помещений
            p.slider__item-descr С другой стороны реализация намеченных плановых заданий требуют от нас анализа.
            +arrow-right
      a.slider__arrow(href="#")
        +arrow-down
  section.container.page.works#works-main
    p.h1.page__title Примеры#{' '}
      span выполненных#{' '}
      | работ
    .works__examples
      +works-item('Новостройка', require('images/works/work_01.jpg'))
      +works-item('Новостройка', require('images/works/work_02.jpg'))
      +works-item('Вторичка', require('images/works/work_03.jpg'))
      +works-item('Вторичка', require('images/works/work_04.jpg'))
      +works-item('Новостройка', require('images/works/work_05.jpg'))
      +works-item('Вторичка', require('images/works/work_06.jpg'))
      +works-item('Вторичка', require('images/works/work_07.jpg'))
      +works-item('Новостройка', require('images/works/work_08.jpg'))
    .works__button
      a.btn.btn__black(href="#") Все проекты
        span
        span
        span
        span
        span
  section.container.page.contact
    p.h1.page__title Связаться#{' '}
      span с нами
    .contact__row
      .contact__item
        .contact__child
          p.contact__head Офис
          p.contact__text Москва, ул. Уличная, д. 1, оф. 1
        .contact__child
          p.contact__head E-mail
          p.contact__text company@company.ru
        .contact__child
          p.contact__head Социальные сети
          .contact__social
            a.contact__social-icon(href='#')
            a.contact__social-icon(href='#')
            a.contact__social-icon(href='#')

      .contact__item
        .contact__child
          p.contact__head Режим работы
          p.contact__text!="Пн-Вт: 10<sup>00</sup> — 19<sup>00</sup>; Сб-Вс: 10<sup>00</sup> — 15<sup>00</sup>"
        .contact__child
          p.contact__head Телефон
          p.contact__text 8 (800) 900-00-00
      .contact__item
        p.contact__head Остались вопросы?
        form.contact__form
          label.contact__form-label
            span.contact__form-title Ваше имя
            input.contact__form-input(placeholder="Иван Иванов" type="text")
            span.contact__form-error Error Message
            .contact__form-icons
              +icon-close
              +icon-check
          label.contact__form-label
            span.contact__form-title Телефон / E-mail
            input.contact__form-input(placeholder="example@example.com" type="email")
            span.contact__form-error Error Message
            .contact__form-icons
              +icon-close
              +icon-check
          label.contact__form-label
            span.contact__form-title Ваше сообщение
            input.contact__form-input(placeholder="Текст обращения" type="text")
            span.contact__form-error Error Message
            .contact__form-icons
              +icon-clip
              +icon-close
              +icon-check
          .contact__form-personal
            p Нажимая на кнопку «Получить консультацию», вы соглашаетесь
              br
              | на#{' '}
              a.link(href="#") обработку персональных данных
          button.btn.btn__black(type="submit") Получить консультацию
            span
            span
            span
            span
            span
