extends ./layouts/master.pug

block title
  title My Page - Home

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content
  section.slider
    .slider__bg
      img.slider__bg-active(src=require('images/slider/slide_00.jpg') data-img="block-0")
      img(src=require('images/slider/slide_01.jpg') data-img="block-1")
      img(src=require('images/slider/slide_02.jpg') data-img="block-2")
      img(src=require('images/slider/slide_03.jpg') data-img="block-3")
      img(src=require('images/slider/slide_04.jpg') data-img="block-4")
    .slider__box
      .slider__title(data-title="block-4")
        p.h1
          | Ремонт#{' '}
          span и
          | #{' '}дизайн
        p.h1
          span в Москве и Московской области
      a.btn.btn__black(href="#") Оставить заявку
        span
        span
        span
        span
        span
    .slider__body
      .slider__items
        a.slider__item.slider__item-red.slider__item-active(href="#" data-item="block-1") Услуги по ремонту
          .slider__item-body
            p.slider__item-title Услуги по ремонту
            p.slider__item-descr С другой стороны реализация намеченных плановых заданий требуют от нас анализа.
            +arrow-right
        a.slider__item.slider__item-green(href="#" data-item="block-2") Виды работ
          .slider__item-body
            p.slider__item-title Виды работ
            p.slider__item-descr С другой стороны реализация намеченных плановых заданий требуют от нас анализа.
            +arrow-right
        a.slider__item.slider__item-blue(href="#" data-item="block-3") Дизайн интерьера
          .slider__item-body
            p.slider__item-title Дизайн интерьера
            p.slider__item-descr С другой стороны реализация намеченных плановых заданий требуют от нас анализа.
            +arrow-right
        a.slider__item.slider__item-purple(href="#" data-item="block-4") Ремонт помещений
          .slider__item-body
            p.slider__item-title Ремонт помещений
            p.slider__item-descr С другой стороны реализация намеченных плановых заданий требуют от нас анализа.
            +arrow-right
      a.slider__arrow(href="#")
        +arrow-down
